<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="MartPlace - Complete Online Multipurpose Marketplace HTML Template">
    <meta name="keywords" content="marketplace, easy digital download, digital product, digital, html5">


    <title>Siporu - Ukm</title>
    <link rel="stylesheet" href="css/plugins.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.html">
</head>

<body class="home1 mutlti-vendor">
    <div class="menu-area">
        <div class="top-menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-6 v_middle">
                        <div class="logo">
                            <a href="index.html">
                                <img src="images/logo1.png" alt="logo image" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 offset-lg-1 col-md-9 col-6 v_middle">
                        <!-- start .author-area -->
                        <div class="author-area">
                            <a href="signup.html" class="author-area__seller-btn inline">Daftarkan Ukm</a>

                            <div class="author__notification_area">
                                <ul>
                                    <li class="has_dropdown">
                                        <div class="icon_wrap">
                                            <span class="lnr lnr-alarm"></span>
                                            <span class="notification_count noti">25</span>
                                        </div>

                                        <div class="dropdown notification--dropdown">

                                            <div class="dropdown_module_header">
                                                <h4>Notifikasi</h4>
                                                <a href="notification.html">Lihat Semua</a>
                                            </div>

                                            <div class="notifications_module">
                                                <div class="notification">
                                                    <div class="notification__info">
                                                        <div class="info_avatar">
                                                            <img src="images/amad.jpg" alt="">
                                                        </div>
                                                        <div class="info">
                                                            <p>
                                                                <span>Ukm Mochi Kaswari</span> telah mengirim pesanan anda
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="notification">
                                                    <div class="notification__info">
                                                        <div class="info_avatar">
                                                            <img src="images/amad.jpg" alt="">
                                                        </div>
                                                        <div class="info">
                                                            <p>
                                                                <span>Ukm Mochi Kaswari</span> telah mengirim pesanan anda
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="notification">
                                                    <div class="notification__info">
                                                        <div class="info_avatar">
                                                            <img src="images/amad.jpg" alt="">
                                                        </div>
                                                        <div class="info">
                                                            <p>
                                                                <span>Ukm Mochi Kaswari</span> telah mengirim pesanan anda
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="has_dropdown">
                                        <div class="icon_wrap">
                                            <span class="lnr lnr-cart"></span>
                                            <span class="notification_count purch">2</span>
                                        </div>

                                        <div class="dropdown dropdown--cart">
                                            <div class="cart_area">
                                                <div class="cart_product">
                                                    <div class="product__info">
                                                        <div class="thumbn">
                                                            <img src="images/mochi.jpg" alt="cart product thumbnail">
                                                        </div>

                                                        <div class="info">
                                                            <a class="title" href="single-product.html">Mochi Kaswari Rasa Durian</a>
                                                            <div class="cat">
                                                                <a href="#">
                                                                    UKM Mochi Kaswari</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="product__action">
                                                        <a href="#">
                                                            <span class="lnr lnr-trash"></span>
                                                        </a>
                                                        <p>10k</p>
                                                    </div>
                                                </div>
                                                <div class="total">
                                                    <p>
                                                        <span>Total :</span>10k</p>
                                                </div>
                                                <div class="cart_action">
                                                    <a class="go_cart" href="cart.html">Lihat Keranjang</a>
                                                    <a class="go_checkout" href="checkout.html">Checkout</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="author-author__info inline has_dropdown">
                                <div class="author__avatar">
                                    <img src="images/usr_avatar.png" alt="user avatar">

                                </div>
                                <div class="autor__info">
                                    <p class="name">
                                        Mochi Kaswari
                                    </p>
                                    <p class="ammount">Ukm</p>
                                </div>

                                <div class="dropdown dropdown--author">
                                    <ul>
                                        <li>
                                            <a href="dashboard.html">
                                                <span class="lnr lnr-home"></span> Dashboard</a>
                                        </li>
                                        <li>
                                            <a href="dashboard-setting.html">
                                                <span class="lnr lnr-cog"></span> Setting</a>
                                        </li>
                                        <li>
                                            <a href="dashboard-upload.html">
                                                <span class="lnr lnr-upload"></span>Upload Item</a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="lnr lnr-exit"></span>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="mobile_content ">
                            <span class="lnr lnr-user menu_icon"></span>
                            <div class="offcanvas-menu closed">
                                <span class="lnr lnr-cross close_menu"></span>
                                <div class="author-author__info">
                                    <div class="author__avatar v_middle">
                                        <img src="images/amad.jpg" alt="user avatar">
                                    </div>
                                    <div class="autor__info v_middle">
                                        <p class="name">
                                            Mochi Kaswari
                                        </p>
                                        <p class="ammount">Ukm</p>
                                    </div>
                                </div>

                                <div class="author__notification_area">
                                    <ul>
                                        <li>
                                            <a href="notification.html">
                                                <div class="icon_wrap">
                                                    <span class="lnr lnr-alarm"></span>
                                                    <span class="notification_count noti">25</span>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="cart.html">
                                                <div class="icon_wrap">
                                                    <span class="lnr lnr-cart"></span>
                                                    <span class="notification_count purch">2</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="dropdown dropdown--author">
                                    <ul>
                                        <li>
                                            <a href="author.html">
                                                <span class="lnr lnr-user"></span>Profile</a>
                                        </li>
                                        <li>
                                            <a href="dashboard.html">
                                                <span class="lnr lnr-home"></span> Dashboard</a>
                                        </li>
                                        <li>
                                            <a href="dashboard-setting.html">
                                                <span class="lnr lnr-cog"></span> Setting</a>
                                        </li>
                                        <li>
                                            <a href="cart.html">
                                                <span class="lnr lnr-cart"></span>Purchases</a>
                                        </li>
                                        <li>
                                            <a href="favourites.html">
                                                <span class="lnr lnr-heart"></span> Favourite</a>
                                        </li>
                                        <li>
                                            <a href="dashboard-add-credit.html">
                                                <span class="lnr lnr-dice"></span>Add Credits</a>
                                        </li>
                                        <li>
                                            <a href="dashboard-statement.html">
                                                <span class="lnr lnr-chart-bars"></span>Sale Statement</a>
                                        </li>
                                        <li>
                                            <a href="dashboard-upload.html">
                                                <span class="lnr lnr-upload"></span>Upload Item</a>
                                        </li>
                                        <li>
                                            <a href="dashboard-manage-item.html">
                                                <span class="lnr lnr-book"></span>Manage Item</a>
                                        </li>
                                        <li>
                                            <a href="dashboard-withdrawal.html">
                                                <span class="lnr lnr-briefcase"></span>Withdrawals</a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="lnr lnr-exit"></span>Logout</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="text-center">
                                    <a href="signup.html" class="author-area__seller-btn inline">Become a Seller</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mainmenu">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <div class="mainmenu__search">
                                <form action="#">
                                    <div class="searc-wrap">
                                        <input type="text" placeholder="Cari Ukm, produk">
                                        <button type="submit" class="search-wrap__btn">
                                            <span class="lnr lnr-magnifier"></span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <nav class="navbar navbar-expand-md navbar-light mainmenu__menu">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="has_dropdown">
                                        <a href="index.html">HOME</a>
                                    </li>
                                    <li class="has_dropdown">
                                        <a href="semua-ukm.html">Ukm</a>
                                        <div class="dropdown dropdown--menu">
                                            <ul>
                                                <li>
                                                    <a href="semua-ukm.html">Pertanian</a>
                                                </li>
                                                <li>
                                                    <a href="semua-ukm.html">Makanan</a>
                                                </li>
                                                <li>
                                                    <a href="semua-ukm.html">Furniture</a>
                                                </li>
                                                <li>
                                                    <a href="semua-ukm.html">Buah Tangan</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="has_dropdown">
                                        <a href="berita.html">Berita</a>
                                    </li>
                                    <li class="has_megamenu">
                                        <a href="event.html">Event</a>
                                    </li>
                                    <li class="has_megamenu">
                                        <a href="tentang.html">Tentang Kami</a>
                                    </li>
                                    <li>
                                        <a href="kontak.html">Kontak</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a href="dashboard.html">Dashboard</a>
                            </li>
                        </ul>
                    </div>
                    <h1 class="page-title">Dashboard Ukm</h1>
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <section class="dashboard-area">
        <div class="dashboard_menu_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="dashboard_menu">
                            <li class="active">
                                <a href="dashboard.html">
                                    <span class="lnr lnr-home"></span>Dashboard</a>
                            </li>
                            <li>
                                <a href="dashboard-setting.html">
                                    <span class="lnr lnr-cog"></span>Pengaturan</a>
                            </li>
                            <li>
                                <a href="dashboard-upload.html">
                                    <span class="lnr lnr-upload"></span>Upload Produk</a>
                            </li>
                        </ul>
                        <!-- end /.dashboard_menu -->
                    </div>
                    <!-- end /.col-md-12 -->
                </div>
                <!-- end /.row -->
            </div>
            <!-- end /.container -->
        </div>
        <!-- end /.dashboard_menu_area -->

        <div class="dashboard_contents">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="author-info author-info--dashboard mcolorbg4">
                            <p>Total Produk</p>
                            <h3>15</h3>
                        </div>
                    </div>
                    <!-- end /.col-md-3 -->

                    <div class="col-lg-3 col-md-6">
                        <div class="author-info author-info--dashboard mcolorbg2">
                            <p>Penjualan Bulanan</p>
                            <h3>10,000,000</h3>
                        </div>
                    </div>
                    <!-- end /.col-md-3 -->

                    <div class="col-lg-3 col-md-6">
                        <div class="author-info author-info--dashboard mcolorbg3">
                            <p>Penjualan Tahunan</p>
                            <h3>20,000,000</h3>
                        </div>
                    </div>
                    <!-- end /.col-md-3 -->
                </div>
                <!-- end /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="dashboard_module statistics_module">
                            <div class="dashboard__title">
                                <h4>Statistik Penjualan</h4>

                                <div class="pull-right">
                                    <div id="stat_legend" class="legend"></div>
                                    <div class="select-wrap">
                                        <select name="mon" class="period_selector">
                                            <option value="jan">Jan</option>
                                            <option value="feb">Feb</option>
                                            <option value="mar">Mar</option>
                                        </select>
                                        <span class="lnr lnr-chevron-down"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="dashboard__content">
                                <canvas id="myChart"></canvas>

                                <div class="statistics_data">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="single_stat_data">
                                                <h4 class="single_stat__title">100</h4>
                                                <p>Total
                                                    <span>Penjualan</span> Bulan Ini</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4 text-center col-sm-4">
                                            <div class="single_stat_data">
                                                <h4 class="single_stat__title">10,000,000</h4>
                                                <p>Total
                                                    <span>Pendapatan</span> Bulan Ini</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="dashboard_module recent_sells">
                            <div class="dashboard__title">
                                <h4>Penjualan Terbaru</h4>

                                <div class="loading">
                                    <a href="#">
                                        <span class="lnr lnr-sync"></span>
                                    </a>
                                </div>
                            </div>

                            <div class="dashboard__content">
                                <ul>
                                    <li>
                                        <div class="single_sell">
                                            <div class="single_sell__thumb-title">
                                                <div class="prod_thumbnail">
                                                    <img src="images/ukm-5.jpg" alt="product thumbnail">
                                                </div>
                                                <div class="prod_title">
                                                    <h4>Mochi Kaswari SUkabumi Rasa Durian</h4>
                                                    <div class="category">
                                                        <span>Makanan</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="ammount">
                                                <p>Rp. 50,000</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- end /.dashboard_module -->
                    </div>
                    <!-- end /.col-md-8 -->


                    <div class="col-lg-4">
                        <div class="dashboard_module recent_buyers">
                            <div class="dashboard__title">
                                <h4>Pembeli Terbaru</h4>
                                <div class="loading">
                                    <a href="#">
                                        <span class="lnr lnr-sync"></span>
                                    </a>
                                </div>
                            </div>

                            <div class="dashboard__content">
                                <ul>
                                    <li>
                                        <div class="single_buyer">
                                            <div class="buyer__thumb_title">
                                                <div class="thumb">
                                                    <img src="images/amad.jpg" alt="Buyer Images" width="50px;">
                                                </div>
                                                <div class="title">
                                                    <h4>Ahmad Maulana</h4>
                                                    <p>Sukabumi</p>
                                                </div>
                                            </div>

                                            <div class="price">
                                                <p>Rp. 50,000</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end /.row -->
            </div>
            <!-- end /.container -->
        </div>
        <!-- end /.dashboard_menu_area -->
    </section>
    <footer class="footer-area">
        <div class="footer-big section--padding">
            <!-- start .container -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="info-footer">
                            <div class="info__logo">
                                <img src="images/logo1.png" alt="footer logo">
                            </div>
                            <p class="info--text">Portal Media Informasi, Info Peluang Usaha, Bisnis UKM Indonesia dan Direktori UKM Indonesia Berbasis MEA!</p>
                            <ul class="info-contact">
                                <li>
                                    <span class="lnr lnr-phone info-icon"></span>
                                    <span class="info">Phone: +62857-1407-8725</span>
                                </li>
                                <li>
                                    <span class="lnr lnr-envelope info-icon"></span>
                                    <span class="info">support@siporu.com</span>
                                </li>
                                <li>
                                    <span class="lnr lnr-map-marker info-icon"></span>
                                    <span class="info">Jl. Kumbang No. 14 , Cilibende Kota Bogor Jawa Barat, Indonesia </span>
                                </li>
                            </ul>
                        </div>
                        <!-- end /.info-footer -->
                    </div>
                    <!-- end /.col-md-3 -->

                    <div class="col-lg-5 col-md-6">
                        <div class="footer-menu">
                            <h4 class="footer-widget-title text--white">Tentang Kami</h4>
                            <ul>
                                <li>
                                    <a href="#">Tentang Kami</a>
                                </li>
                                <li>
                                    <a href="#">Daftarkan Usaha Anda</a>
                                </li>
                                <li>
                                    <a href="#">Hubungi Kami</a>
                                </li>
                                <li>
                                    <a href="#">FaQ</a>
                                </li>
                                <li>
                                    <a href="#">Sitemap</a>
                                </li>
                                <li>
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="#">Hubungi Kami</a>
                                </li>
                            </ul>
                        </div>
                        <!-- end /.footer-menu -->

                        <div class="footer-menu">
                            <h4 class="footer-widget-title text--white">Ukm Online</h4>
                            <ul>
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li>
                                    <a href="#">Ukm</a>
                                </li>
                                <li>
                                    <a href="#">Berita</a>
                                </li>
                                <li>
                                    <a href="#">Event</a>
                                </li>
                                <li>
                                    <a href="#">Disclaimers</a>
                                </li>
                                <li>
                                    <a href="#">Kontak</a>
                                </li>
                                <li>
                                    <a href="#">Backlink</a>
                                </li>
                            </ul>
                        </div>
                        <!-- end /.footer-menu -->
                    </div>
                    <!-- end /.col-md-5 -->

                    <div class="col-lg-4 col-md-12">
                        <div class="newsletter">
                            <h4 class="footer-widget-title text--white">Newsletter</h4>
                            <p>Subscribe to get the latest news, update and offer information. Don't worry, we won't send spam!</p>
                            <div class="newsletter__form">
                                <form action="#">
                                    <div class="field-wrapper">
                                        <input class="relative-field rounded" type="text" placeholder="Enter email">
                                        <button class="btn btn--round" type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>

                            <!-- start .social -->
                            <div class="social social--color--filled">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-facebook"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-twitter"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-google-plus"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-pinterest"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-linkedin"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-dribbble"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mini-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright-text">
                            <p>&copy; 2018
                                <a href="#">Sipory</a>. All rights reserved. Created by
                                <a href="#">Manajemen Informatika</a>
                            </p>
                        </div>

                        <div class="go_top">
                            <span class="lnr lnr-chevron-up"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- modal -->
    <div class="modal fade item_removal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h4>Please confirm the removal of the item.</h4>
                    <div class="btns">
                        <a href="#" class="btn btn--round btn--md btn--danger">Confirm</a>
                        <a href="#" class="btn btn--round btn--md btn--default" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">Cancel</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

   <script src="js/plugins.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeySPFGz7DIUTrReCRQT6HYaMM0ia0knA"></script><script src="js/script.min.js"></script>
</body>
</html>